{% extends 'base.html.twig' %}

{% block title %}Hello ChampController!{% endblock %}

{% block body %}

    <div class="container">
  
          <div class="row">
              <div class="col-md-2">
                  <table class="table col-lg-1" >
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ renc.statut }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Chelsea</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Liverpool</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Liverpool</td>
                    </tr>
                </tbody>
            </table>

              </div>
              <div class="col-md-7">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="img"><img src="/images/plLogo.png" class="logoh rounded mx-auto d-block" alt="image"></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <table class="table">
                <thead>
                    <tr>
                        <th colspan="6">Rencontres de la semaine</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">Date</td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>Statut</td>
                        <td>EquipeD</td>
                        <td>Score</td>
                        <td>EquipeE</td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>Statut</td>
                        <td>EquipeD</td>
                        <td>Score</td>
                        <td>EquipeE</td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>Statut</td>
                        <td>EquipeD</td>
                        <td>Score</td>
                        <td>EquipeE</td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>Statut</td>
                        <td>EquipeD</td>
                        <td>Score</td>
                        <td>EquipeE</td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td colspan="6">Date</td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>Statut</td>
                        <td>EquipeD</td>
                        <td>Score</td>
                        <td>EquipeE</td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>Statut</td>
                        <td>EquipeD</td>
                        <td>Score</td>
                        <td>EquipeE</td>
                        <td>View</td>
                    </tr>
                </tbody>
            </table>

                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="row">
                      <div class="col-md-12">
                          <table class="table">
                <thead>
                    <tr>
                        <th colspan="4">Rencontres de la semaine</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                
                </tbody>
            </table>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <table class="table">
                <thead>
                    <tr>
                        <th colspan="4">Rencontres de la semaine</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                
                </tbody>
            </table>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <table class="table">
                <thead>
                    <tr>
                        <th colspan="4">Rencontres de la semaine</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Logo</td>
                        <td>Equipe</td>
                        <td>Points</td>
                    </tr>
                
                </tbody>
            </table>
                      </div>
                  </div>
              </div>
          </div>
</div>
    
{% endblock %}
