{% extends 'base.html.twig' %}

{% block title %}Valeur manquante{% endblock %}

{% block body %}

    <div class="container">
        <h1>Une erreur a été provoquée lors de la modification du formulaire !</h1>
        <p>Lors de la <strong>modification</strong> d'un formulaire, aucun champs ne peut être vide, 
        ils doivent tous être remplis.</p>

{% endblock %}
